{%  extends 'base.html' %}

{% block pageheading %}
Add Category
{% endblock %}

{% block main %}
<h2>Add Category</h2>
<p>Enter a category name here and click submit to add this category to the dictionary</p>
    <form class="dataForm" method="post">
            <div class="form-label">Category Name:</div>
            <div class="form-element"><input type="text" name = "category_name" required></div>
        <div class="form-group"></div>
            <div class="error">
                {% if error != None %}
                    {{ error }}
                {% endif %}
            </div>
            <div id = "category-submit" class="form-element"><input style="background-color: lightgray;" type="submit" name = "submit" id = "submit" maxlength="30"></div>
        <div class="form-group"></div>
    </form>

{% endblock %}