<!doctype html>
<html lang="en">
<head>
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Suez+One&display=swap" rel="stylesheet">
    <!-- A block that can be used in HTML files that extend this file -->
	<title>{% block title %}{% endblock %}</title>
	<meta name="Maori Dictionary" content="Author:I Bhanuka, Content: A dictionary to convert maori words to english.">
</head>

<body>
	<div id="container">
		<header>
			<span class="heading">Maōri - English Dictionary</span>
            <span class="right">{{ current_user }}</span>
		</header>
		<nav style="padding-top: 0">
			<ul>
                <div class="main-links">
                    <li><a href="/" style="color: black;">Home</a></li>
                    <li><a href="/search/~" style="color: black;">Search</a></li>
                    <!-- Show links only if the user is logged in -->
                    {% if logged_in %}
                        <!-- Show links only if the user is logged in and is a teacher -->
                        {% if allow_edit %}
                            <li><a href="/add_category" style="color: black;">Add Category</a></li>
                        {% endif %}
                        <li><a href="/logout" style="color: black;">Logout</a></li>
                    {% else %}
                        <li><a href="/login" style="color: black;">login</a></li>
                    {% endif %}
                </div>
                <br>
                 <!-- Loops through the category array and creates a link for each category in the array -->
                {% for category in category_list %}
                    <li><a href="/category/{{ category[0] }}">{{ category[1] }}</a></li>
                {% endfor %}
			</ul>
		</nav>
		<main style="border: solid black 2px">
            <!-- A block that can be used in HTML files that extends this file -->
            {% block main %}{% endblock %}
        </main>
		<footer>
			<p>
				&copy; Inesh Bhanuka 2022
			</p>
		</footer>
	</div>
</body>
</html>
