<!doctype html>
<html lang="en">
<head>
	<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Suez+One&display=swap" rel="stylesheet">
	<title>{% block title %}{% endblock %}</title>
	<meta name="Maori Dictionary" content="Author:I Bhanuka, Content: A dictionary to convert maori words to english.">
</head>

<body>
	<div id="container">

		<header>
			<h1>{% block heading %}Maōri - English Dictionary{% endblock %}</h1>
		</header>

		<nav>
			<ul>
                <li><a href="/">Home</a></li>
				<li><a href="/fulldict">Search</a></li>
				{% if logged_in %}
                    {% if allow_edit %}
					    <a href="/addcategory">Add Category</a>
                    {% endif %}
					<a href="/logout">Logout</a>
                {% else %}
                    <a href="/login">login</a>
                {% endif %}
				<li><p>--------------------------</p></li>
                {% for category in category_list %}
                    <li><a href="/category/{{ category[0] }}">{{ category[1] }}</a></li>
                {% endfor %}
			</ul>
		</nav>

		<main>
            {% block main %}{% endblock %}
        </main>

		<footer>
			<p>
				&copy; Inesh Bhanuka 2020
			</p>
		</footer>

	</div>
</body>
</html>
