{% extends "base.html" %}

{% block title %}
{{ category_words[0][0] }}
{% endblock %}

{% block main %}
    <div class="word-box">
        {% for word in category_words %}
            <div class="word-box">
                <p><strong>Maori: </strong>{{ word[1] }}</p>
                <p><strong>English: </strong>{{ word[2] }}</p>
                <img src= "../static/images/{{ word[3] }}">
                <p><strong>Image: </strong>{{ word[3] }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}