{% extends "base.html" %}

{% block title %}
    Maori Dictionary Delete Word {{ word_list[0][1] }}
{% endblock %}

{% block main %}
    <h2>{{ word_list[0][1] }} contents<strong>- Ready to Delete</strong></h2>
    <form class="dataForm" method="post" action="/action_delete_word/{{ word_list[0][0] }}" class="inline"/>
    <div class="form-group">
        <input type="hidden">
        <p>Are you sure you wish to delete the word <strong>{{ word_list[0][1] }} </strong>
        <button type="submit" name="submit_param" value="submit_value" class="link-button">Yes</button>
        / <a href="/word/{{ word_list[0][0] }}">No</a></p>
    </div>
    <table class="cart-table">
        <tbody>
            {% for word in word_list %}
                <tr>
                    {% if word[1] != None %}
                        <p><strong>Maori: </strong>{{ word[1] }}</p>
                        <p><strong>English: </strong>{{ word[2] }}</p>
                        <p><strong>Description: </strong>{{ word[3] }}</p>
                        <p><strong>Level: </strong>{{ word[4] }}</p>
                        <p><strong>Date Added: </strong>{{ word[6] }}</p>
                        <p><strong>Edited By: </strong>{{ word[7] }} {{ word[8] }}</p>
                        <img src= "../static/images/{{ word[5] }}">
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}