{% extends "base.html" %}
<!-- A block contains code for the title -->
{% block title %}
    Maori Dictionary Delete Word {{ word_list[0][1] }}
{% endblock %}
<!-- A block contains the code for the main part of the page -->
{% block main %}
    <h2>{{ word_list[0][1] }} ({{ word_list[0][2] }})<strong> - Ready to Delete</strong></h2>
    <form class="dataForm" method="post" action="/action_delete_word/{{ word_list[0][0] }}?breadcrumb={{ breadcrumb }}">
        <div id = "delete_word" class="form-group">
            <p>Are you sure you wish to delete the word <strong>{{ word_list[0][1] }} ({{ word_list[0][2] }})</strong>
            <button type="submit" name="submit_param" value="submit_value" class="link-button">Yes</button>
            / <a href="/word/{{ word_list[0][0] }}?breadcrumb={{ breadcrumb }}">No</a></p>
        </div>
    </form>
    <table class="word-table">
        <tbody>
            <!-- If the maori word passed in is not None only then display the table contents -->
            {% if maori != None %}
                <tr>
                    <td><strong>Description: </strong></td>
                    <td class="description-wrap">{{ word_list[0][3] }}</td>
                </tr>
                <tr>
                    <td><strong>Level: </strong></td>
                    <td>{{ word_list[0][4] }}</td>
                </tr>
                <tr>
                    <td><strong>Date Added: </strong></td>
                    <td>{{ word_list[0][6] }}</td>
                </tr>
                <tr>
                    <td><strong>Edited By: </strong></td>
                    <td>{{ word_list[0][7] }} {{ word_list[0][8] }}</td>
                </tr>
                    <td colspan="2"><img src= "../static/images/{{ image_name }}" alt="Word image"></td>
            {% endif %}
        </tbody>
    </table>
{% endblock %}