{% extends "base.html" %}

{% block title %}
Full Dictionary
{% endblock %}

{% block main %}
<h1> Full Dictionary</h1>
 <table id = "fulldict" class="table">
        <thead>
            <tr>
                <th><strong>Maori</strong></th>
                <th><strong>English</strong></th>
                <th><strong>Definition</strong></th>
            </tr>
        </thead>
        <tbody>
            {% for word in dictionary_list %}
                <tr>
                    <td>{{ word[1] }}</td>
                    <td>{{ word[2] }}</td>
                    <td>{{ word[3] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>




{% endblock %}