{% extends 'base.html' %}
<!-- A block contains code for the title -->
{% block title %}Maōri Dictionary | Home{% endblock %}
 <!-- A block contains the code for the main part of the page -->
{% block main %}
    <h2>Welcome to Maori - English Dictionary</h2>
    <p>Feel free to browse around this dictionary and discover the translations for a number of words.</p>
    <p>If you wish to add words to this dictionary there is a login implemented in order to stop unauthorized additions to the database.</p>
{% endblock %}
