{%  extends 'base.html' %}
<!-- A block contains code for the page heading -->
{% block pageheading %}
    Login
{% endblock %}
 <!-- A block contains the code for the main part of the page -->
{% block main %}
    <h2>Login</h2>
    <p>Please login to edit this dictionary</p>
    <form class="dataForm" method="POST">
        <div class="form-group">
            <div class="form-label">Email:</div>
            <div class="form-element"><input type="email" name = "email" required></div>
        </div>

        <div class="form-group">
            <div class="form-label">Password:</div>
            <div class="form-element"><input type="password" name = "password" id = "password" required></div>
        </div>
        <div class="form-group"></div>
        <div class="error">
            <!-- If the error passed in is not None only then show the error on screen -->
            {% if error != None %}
                {{ error }}
            {% endif %}
        </div>
        <div class="form-group">
            <div id = "login-submit" class="form-element"><input style="background-color: lightgray;" type="submit" name = "submit" id = "submit"></div>
        </div>

        <p><br><br><br><br> If you don't yet have an account, click <a href="/signup">Signup</a></p>
    </form>
{% endblock %}