{% extends "base.html" %}

{% block title %}
Search
{% endblock %}

{% block main %}

    <h1>Search</h1>
    <div class="form-group">
        <div class="letter-label">Browse by Letter
        <a href="/search/A" class="{{ selected[0] }}">A</a>
        <a href="/search/B" class="{{ selected[1] }}">B</a>
        <a href="/search/C" class="{{ selected[2] }}">C</a>
        <a href="/search/D" class="{{ selected[3] }}">D</a>
        <a href="/search/E" class="{{ selected[4] }}">E</a>
        <a href="/search/F" class="{{ selected[5] }}">F</a>
        <a href="/search/G" class="{{ selected[6] }}">G</a>
        <a href="/search/H" class="{{ selected[7] }}">H</a>
        <a href="/search/I" class="{{ selected[8] }}">I</a>
        <a href="/search/J" class="{{ selected[9] }}">J</a>
        <a href="/search/K" class="{{ selected[10] }}">K</a>
        <a href="/search/L" class="{{ selected[11] }}">L</a>
        <a href="/search/M" class="{{ selected[12] }}">M</a>
        <a href="/search/N" class="{{ selected[13] }}">N</a>
        <a href="/search/O" class="{{ selected[14] }}">O</a>
        <a href="/search/P" class="{{ selected[15] }}">P</a>
        <a href="/search/Q" class="{{ selected[16] }}">Q</a>
        <a href="/search/R" class="{{ selected[17] }}">R</a>
        <a href="/search/S" class="{{ selected[18] }}">S</a>
        <a href="/search/T" class="{{ selected[19] }}">T</a>
        <a href="/search/U" class="{{ selected[20] }}">U</a>
        <a href="/search/V" class="{{ selected[21] }}">V</a>
        <a href="/search/W" class="{{ selected[22] }}">W</a>
        <a href="/search/X" class="{{ selected[23] }}">X</a>
        <a href="/search/Y" class="{{ selected[24] }}">Y</a>
        <a href="/search/Z" class="{{ selected[25] }}">Z</a>
        </div>
    </div>
    <form id = "search" class="dataForm" method="post">
        <h3>Search</h3>
        <div class="form-group">
            <div class="form-label">Maori</div>
            <div class="form-element"><input type="text" name = "maori" maxlength="30"></div>
        </div>
        <div class="form-group">
            <div class="form-label">English</div>
            <div class="form-element"><input type="text" name = "english" maxlength="30"></div>
        </div>
        <div class="form-group">
            <div class="form-label">Level</div>
                <div>
                  <select name="level" id="level">
                    <option value="0">Not selected</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                  </select>
                </div>
            <div class="form-group">
                <div class="form-label">Most recent</div>
                    <div>
                        <input type="radio" id="1" value ="1" name="Date-Added">
                        <label>Yes</label>
                        <input type="radio" id="2" value="0" name="Date-Added" checked>
                        <label>No</label>
                    </div>
            </div>
            <div class="form-group">
                <div id = "search-submit" class="form-element"><input style="background-color: lightgray;" type="submit" name = "submit" id = "submit"></div>
            </div>
            <div class="form-group"></div>
            </div>
        </form>
 <table id = "search" class="table">
        <thead>
            <tr>
                <th><strong>Maori</strong></th>
                <th><strong>English</strong></th>
                <th><strong>Level</strong></th>
                <th><strong>Date Added</strong></th>
                <th><strong>Edited By</strong></th>
            </tr>
        </thead>
        <tbody>
            {% for word in search_results %}
                <tr>
                    <td><a href="/word/{{ word[0] }}">{{ word[1] }}</a></td>
                    <td>{{ word[2] }}</td>
                    <td>{{ word[3] }}</td>
                    <td>{{ word[4] }}</td>
                    <td>{{ word[5] }}  {{ word[6] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}