{% extends "base.html" %}
    {% set id = word_details[0][0] %}
    {% set maori = word_details[0][1] %}
    {% set english = word_details[0][2] %}
    {% set description = word_details[0][3] %}
    {% set level = word_details[0][4] %}
    {% set image = word_details[0][5] %}
    {% set date_added = word_details[0][6] %}
    {% set edited_by = word_details[0][7] + ' ' + word_details[0][8] %}
{% block title %}
    Maori Dictionary Word {{ maori }}
{% endblock %}

{% block main %}
    {% if logged_in %}
        <h2>{{ maori }} <strong>-</strong> <a href="\delete_word\{{ id }}">Delete Word</a></h2>
    {% else %}
        <h2>{{ word_details[0][1] }}</h2>
    {% endif %}
    <table class="cart-table">
        <tbody>
            <tr>
                {% if maori != None %}
                    <p><strong>Maori: </strong>{{ maori }}</p>
                    <p><strong>English: </strong>{{ english }}</p>
                    <p><strong>Description: </strong>{{ description }}</p>
                    <p><strong>Level: </strong>{{ level }}</p>
                    <p><strong>Date Added: </strong>{{ date_added }}</p>
                    <p><strong>Edited By: </strong>{{ edited_by }}</p>
                    <img src= "../static/images/{{ image }}">
                {% endif %}
            </tr>
        </tbody>
    </table>

{% if logged_in %}
    <form id = "edit_word" class="dataForm" method="post"/>
        <div class="form-group">
            <div><strong>Edit This Word</strong></div>
            <br />
            <div class="form-element">Maori<input type="text" name = "maori" value = "{{ maori }}" required></div>
            <div class="form-element">English<input type="text" name = "english" value = "{{ english }}" required></div>
            <div class="form-element">Description<textarea name="description" form="edit_word" required>{{ description }}</textarea></div>
            <div class="radiobutton">
                <div>
                    <input type="radio" id="1" name="level" value="1" {{ checked[0] }}>
                    <label for="1">1</label>
                </div>
                <div>
                    <input type="radio" id="2" name="level" value="2" {{ checked[1] }}>
                    <label for="2">2</label>
                </div>
                <div>
                    <input type="radio" id="3" name="level" value="3" {{ checked[2] }}>
                    <label for="3">3</label>
                </div>
                <div>
                    <input type="radio" id="4" name="level" value="4" {{ checked[3] }}>
                    <label for="4">4</label>
                </div>
                <div>
                    <input type="radio" id="5" name="level" value="5" {{ checked[4] }}>
                    <label for="5">5</label>
                </div>
                <div>
                    <input type="radio" id="6" name="level" value="6" {{ checked[5] }}>
                    <label for="6">6</label>
                </div>
                <div>
                    <input type="radio" id="7" name="level" value="7" {{ checked[6] }}>
                    <label for="7">7</label>
                </div>
                <div>
                    <input type="radio" id="8" name="level" value="8" {{ checked[7] }}>
                    <label for="8">8</label>
                </div>
                <div>
                    <input type="radio" id="9" name="level" value="9" {{ checked[8] }}>
                    <label for="9">9</label>
                </div>
                <div>
                    <input type="radio" id="10" name="level" value="10" {{ checked[9] }}>
                    <label for="10">10</label>
                </div>
            </div>
        </div>

    <div class="form-group">
            <div class="form-label"></div>
            <div class="form-element"><input type="submit" name = "submit" id = "submit"></div>
        </div>
{% endif %}
{% endblock %}